
.central {
  width: 100%;
  height: 100%; /* Asegura que la sección central ocupe todo el espacio de la ventana */
}


.central {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  position: relative; /* Esto es necesario para las cartas posicionadas absolutamente */
  .header-container {
    text-align: center;
    margin-bottom: 30px;
    #titulo {
      text-align: center;
      color: #e65014;
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle;
    }
    .logo {
      width: 200px;
      vertical-align: middle;
      display: inline-block;
    }
  }
  #marcadores {
    text-align: center;
    margin: 20px 0;
  }
  #mesa {
    /* Para los tapetes  clase para todos los tapetes*/
 
    .tapete {
      display: inline-block;
      position: relative;
      margin: 10px;
      border-radius: 10px;
      vertical-align: top;
      img {
        position: absolute;
        width: 100px;
        height: 140px;
      }

    }

    .contador {
      position: absolute;
      bottom: 2px;
      right: 2px;
      background: white;
      border: 1px solid #000;
      padding: 2px 8px;
      font-size: 13px;
      font-weight: bold;
      z-index: 9999;
      color: black;
      pointer-events: none;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    text-align: center;
    margin: 20px 0;
    .tapetes_superiores {
      margin-bottom: 30px;
      white-space: nowrap;
      /* Dimensiones y color de fondo para el tapete inicial */
      #inicial {
        width: 340px;
        height: 340px;
        background-color: lightgrey;
      }
      #sobrantes {
        width: 100px;
        height: 140px;
        background-color: lightblue;
      }
    }
    .receptor {
        width: 100px;
        height: 140px;
        background-color: lightgreen;
      }
  }
  #reset {
    display: block;
    margin: 20px auto;
    padding: 10px 30px;
  }
}

.popup {
  display: none; /* Se oculta inicialmente */
  position: fixed; /* Permite que se quede fijo en la pantalla */
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajusta el centro exacto */
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  z-index: 9999; 
}


.carta {
  position: absolute; /* Posicionamiento dentro del contenedor */
  width: 100px; /* Ancho de cada carta */
  height: 140px; /* Alto de cada carta */
  transition: top 0.5s ease, left 0.5s ease; /* Movimiento suave de las cartas */
}

body {
  background: 
      linear-gradient(rgba(70, 130, 180, 0.5), rgba(86, 166, 247, 0.5)),
      url('../imagenes/Cartas_madera.jpg');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  animation: colorChange 10s infinite;
}

@keyframes colorChange {
  0% { background-color: rgba(60, 179, 113, 0.5); } /* Verde suave */
  50% { background-color: rgba(144, 238, 144, 0.5); } /* Verde claro */
  100% { background-color: rgba(35, 60, 142, 0.5); } /* Verde oliva */
}


